{{ define "new" }}
  <form
    hx-target="this"
    hx-swap="outerHTML"
    class="flex flex-col gap-4 w-full max-w-xs"
  >
    <label
      class="form-control w-full max-w-xs"
    >
      <div
        class="label"
      >
        <span
          class="label-text"
        >
          Name
        </span>
      </div>
      <input
        type="text"
        name="name"
        placeholder="Name"
        class="input input-bordered"
      />
    </label>
    <label
      class="form-control w-full max-w-xs"
    >
      <div
        class="label"
      >
        <span
          class="label-text"
        >
          Description
        </span>
      </div>
      <input
        type="text"
        name="description"
        placeholder="Description"
        class="input input-bordered"
      />
    </label>
    <div
      class="flex flex-row justify-end gap-4 self-end"
    >
      <button
        class="btn btn-primary"
        hx-post="/service"
      >
        Save
      </button>
      <button
        class="btn btn-error"
      >
        Cancel
      </button>
    </div>
  </form>
{{ end }}
