{{ define "title" }}
  monitor
{{ end }}

{{ define "body" }}
  <div
    class="flex flex-col items-center gap-5"
  >
    <a
      href="/services"
      class="link"
    >
      Services
    </a>
    <a
      href="/metrics"
      class="link"
    >
      Metrics
    </a>
    <a
      href="/values"
      class="link"
    >
      Values
    </a>
    <a
      href="/messengers"
      class="link"
    >
      Messengers
    </a>
    <a
      href="/users"
      class="link"
    >
      Users
    </a>
    <a
      href="/endpoints"
      class="link"
    >
      Endpoints
    </a>
    <a
      href="/triggers"
      class="link"
    >
      Triggers
    </a>
    <a
      href="/pollers"
      class="link"
    >
      Pollers
    </a>
    <a
      href="/notifiers"
      class="link"
    >
      Notifiers
    </a>
  </div>
{{ end }}
