{{ define "title" }}
  Pollers
{{ end }}

{{ define "body" }}
  <div
    id="pollers"
    class="flex flex-col items-center gap-10"
  >
    {{range .}}
      {{ template "poller" . }}
    {{end}}
  </div>
  <div
    class="flex flex-col items-center gap-10"
  >
    <div
      class="flex flex-row justify-end w-full max-w-xs mt-10"
    >
      <button
        hx-get="/pollers/new"
        hx-target="#pollers"
        hx-swap="beforeend"
        class="btn"
      >
        New
      </button>
    </div>
  </div>
{{ end }}
